<div class="posts-container">
  {{#each allPosts}}
  <div class="post-card">
    <div>
      <div class="card-header">
        <div class="card-category">
          <p class="card-category-text">{{category}}</p>
        </div>
        <h2> 
          <a href="/post/{{id}}">{{title}}</a> 
        </h2>
        <div class="card-data">
          <p>Posted by {{user.username}} on {{postDate createdAt}}</p>
        </div>
      </div>
     
      <div class="card-body">
        <img src="/images/userUploads/{{file_img}}" alt="post-image" class="card-image"> 
        <div class="recipe-body" style="display: none;">
          <textarea>{{body}}</textarea>
        </div>
        <div class="card-icons">
          <div> 
                 <button class="btnl btn-like" onClick="onClick()">
        <span class="btn-icon btn--icon-default">
          <span class="fa fa-heart" ></span>
        </span>
        <span class="btn-icon btn--icon-liked">
          <span class="fa fa-heart"></span>
        </span>
       
        <span id="btn-counter"></span>
       
       
      </button>
          </div>
          <div class="card-icons-wrapper">
           <a href="/post/{{id}}"><i id="comment-icon" class="fa-regular fa-comment fa-xl" data-count="0"></i></a>
           <p class="count">1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/showRecipe.js"></script>
<script src="/js/likes.js"></script>