<div class="posts-container">
  {{#each allPosts as |post|}}
  <div class="post-card">
    <div>
      <div class="card-header">
        <h2> 
          <a href="/post/{{id}}">{{title}}</a> 
        </h2>
        <div class="card-data">
          <p>Posted by {{user.username}} on {{createdAt}}</p>
        </div>
      </div>
    
      <div class="card-body">
        <img src="/uploads/{{file_img}}" alt="post-image" class="card-image"> 
        <div class="card-text">
          {{body}}
        </div>
        
        
      
      </div>
      <p class="like-btn-p">
      <a href="#"  class="btn-like btn-like-counter" data-count="0"><span>&#x2764;</span></a>  
      </p>
    </div>
    
  </div>
  {{/each}}
</div>
