<div class="posts-container">
  {{#each allPosts}}
  <div class="post-card">
    <div>
      <div class="card-header">
        <div class="card-category">
          <p class="card-category-text">{{category}}</p>
        </div>
        <h2> 
          <a href="/post/{{id}}">{{title}}</a> 
        </h2>
        <div class="card-data">
          <p>Posted by {{user.username}} on {{postDate createdAt}}</p>
        </div>
      </div>
     
      <div class="card-body">
        <img src="/images/userUploads/{{file_img}}" alt="post-image" class="card-image"> 
        <div class="recipe-body" style="display: none;">
            {{body}}
        </div>
        <div class="card-icons">
           <a href="#"><i class="fa-regular fa-heart fa-xl"></i></a>
           <a href="/post/{{id}}"><i class="fa-regular fa-comment fa-xl"></i></a>
        </div>
      </div>

    </div>
  </div>
  {{/each}}
</div>

<script src="/js/showRecipe.js"></script>