<div class="posts-container">
    <div class="post-card">
    <div class="card-header">
        <p>Edit Post</p>
    </div>
    <form id="edit-post-form" class="card-body" action="/api/post/{{post.id}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="post-id" name="file_img" value="{{post.file_img}}" />

        <label class="form-label" for="post-title">Title</label>
        <input type="text" id="post-title" name="name" value="{{post.title}}" class="form-input" required />

        <label class="form-label" for="image-editPost">Image.</label>
        <input class="form-input" type="file" name="fileImg">

        <label class="form-label" for="post-body">Content</label>
        <textarea id="post-body"  name="recipe" class="form-input" required>{{post.body}}</textarea>

        <label>{{post.category}}</label>

        <label for="category-newPost">Choose a category:</label>
            <div class="categories">
                <div class="category-link">
                    <input type="radio" id="veggie" name="category" value="Veggie" {{nameRadioBtn 'Veggie' post.category}}>
                    <label for="veggie">Veggie</label>
                </div>
                <div class="category-link">
                    <input type="radio" id="allMeats" name="category" value="All-Meats" {{nameRadioBtn 'All-Meats' post.category}}>
                    <label for="allMeats">All-Meats</label>
                </div>
                <div class="category-link">
                    <input type="radio" id="dessert" name="category" value="Dessert"  {{nameRadioBtn 'Dessert' post.category}}>
                    <label for="dessert">Dessert</label>
                </div>
            </div>
            

        <button type="submit" id="update-btn" class="btn">Update</button>
    </form>
    </div>
</div>
